h1{
 color: #c2ffdf;
}

h2{
 color: #c2ffdf;

}
.feather{
 color: #FFB8D1;

}

.site-branding a{
 color: #ffea00;

}
.hide-in-mobile a{
 color: #f92672;
}
#home-nav a{
 color: #fff352;
}

#site-footer p{
 color: #ff857f;
}

#home-footer a{
 color: #ff857f;
}
