h1{
 color: #B2CFF1;
}

h2{
 color: #b2cff1;

}
.feather{
 color: #FFB8D1;

}

.site-branding a{
 color: #ffea00;

}
.hide-in-mobile a{
 color: #f92672;
}

.unsw{
 color: #ffb8d1;
}
#home-nav a{
 color: #fff352;
}
#site-footer p{
 color: #ff857f;
}

#home-footer a{
 color: #ff857f;
}
